<div class="min-h-screen">
    <div class="container mx-auto">
      <div class="grid grid-cols-2 lg:grid-cols-5 gap-4">
        <!-- Projects Section -->
  
        <!-- Tasks Section -->
        <app-tasks class="col-span-1 lg:col-span-1"></app-tasks>
  
        <!-- Subtasks Section -->
        <app-subtasks class="col-span-1 lg:col-span-1"></app-subtasks>
  
        <!-- Issues Section -->

        <!-- Comments Section -->
        <app-comments class="col-span-1 lg:col-span-1"></app-comments>
      </div>
      <app-issues></app-issues>
      <app-projects></app-projects>
    </div>
  </div>
  

