<div class="min-h-screen">
    <div class="container mx-auto">
      <div class="grid grid-cols-6 lg:grid-cols-6 gap-4">
        <!-- Projects Section -->
  
        <!-- Tasks Section -->
        
  
        <!-- Subtasks Section -->
        <app-subtasks class="col-span-3 lg:col-span-3"></app-subtasks>
  
        <!-- Issues Section -->

        <!-- Comments Section -->
        <app-comments class="col-span-3 lg:col-span-3"></app-comments>
      </div>
      <app-profiles></app-profiles>
      <app-projects></app-projects>
      <app-tasks></app-tasks>
      <app-subtasks></app-subtasks>
      <app-issues></app-issues>
      <app-comments></app-comments>
      <app-issuesdetails></app-issuesdetails>
      <app-projects-details></app-projects-details>
      <app-comments-details></app-comments-details>
      <app-tasks-details></app-tasks-details>
      <app-subtasks-details></app-subtasks-details>
      
    </div>
  </div>
  

