<ul class="py-2">
    <li><a  class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" >Projects notification</a></li>
    <li><a  class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" >Tasks notification</a></li>
    <li><a  class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" >Subtasks notification</a></li>
    <li><a  class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" >Issues notification</a></li>
    <li><a  class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" >Comments notification</a></li>
</ul>